{% extends 'cms/base.html' %}
{% load static %}

{% block body %}

<div class="page-wrapper">

    <!-- Page Content-->
    <div class="page-content-tab">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'cms:nav_list' %}">لیست نوبار ها</a></li>
                            </ol>
                        </div>
                        
                    </div>
                    <!--end page-title-box-->
                </div>
                <!--end col-->
            </div>
            <!-- end page title end breadcrumb -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">ویرایش نوبار</h4>

                        </div><!--end card-header-->
                        <div class="card-body">  
                            <form method='post' action="" class="row">
                                {% csrf_token %}
                                <div class="col-lg-12">
                                    <div class="mb-3 row">
                                        <label for="example-text-input" class="col-sm-1 col-form-label text-end">سرگروه</label>
                                        <div class="col-sm-4">
                                            {{form.parent}}
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="example-text-input" class="col-sm-1 col-form-label text-end">نام</label>
                                        <div class="col-sm-4">
                                            <input name='name' value='{{navtwo.name}}' class="form-control" type="text" id="example-text-input">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="example-text-input" class="col-sm-1 col-form-label text-end">لینک</label>
                                        <div class="col-sm-4">
                                            <input name='link' value='{{navtwo.link}}' class="form-control" type="text" id="example-text-input">
                                        </div>
                                        <div class='col-sm-1'>
                                            <button type='submit' class='btn btn-success'>ویرایش</button>                                                   
                                        </div>
                                        <div class='col-sm-2'>
                                            <a href='{% url "cms:delete_nav_two" navtwo.id %}' class='btn btn-danger'>حذف</a>                                                   
                                        </div>
                                    </div>
                                </div>   
                            </form>                   
                        </div><!--end card-body-->
                    </div><!--end card-->

            </div><!--end row-->

        </div><!-- container -->
       <!--Start Footer-->
       <!-- Footer Start -->
       <footer class="footer text-center text-sm-start">
           &copy; <script>
               document.write(new Date().getFullYear())
           </script> یونیکت <span class="text-muted d-none d-sm-inline-block float-end">ساخته شده با <i
                   class="mdi mdi-heart text-danger"></i> دیجی روت</span>
       </footer>
       <!-- end Footer -->                
       <!--end footer-->
    </div>
    <!-- end page content -->
</div>
<!-- end page-wrapper -->

{% endblock body %}
