{% extends 'cms/base.html' %}
{% load static %}
{% block body %}
    <div class="page-wrapper">
        <!-- Page Content-->
        <div class="page-content-tab">

            <div class="container-fluid">
                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <div class="float-end">
                                <ol class="breadcrumb">

                                </ol>
                            </div>
                            <h4 class="page-title">صفحه مدیریت وبسایت</h4>
                        </div>
                        <!--end page-title-box-->
                    </div>
                    <!--end col-->
                </div>
                <!-- end page title end breadcrumb -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">ویرایش تنظیمات سایت</h4>
                            </div><!--end card-header-->
                            <div class="card-body">  
                                <form method='post' action="" enctype="multipart/form-data" class="row">
                                    {% csrf_token %}
                                    <div class="col-lg-6">
                                        <div class="mb-3 row">
                                            <label for="example-text-input" class="col-sm-2 col-form-label text-end">اسم سایت</label>
                                            <div class="col-sm-6">
                                                {% comment %} <input name='text_bold' class="form-control" type="text" value="" id="example-text-input"> {% endcomment %}
                                            {{form.name}}
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="example-text-input" class="col-sm-2 col-form-label text-end">لوگو</label>
                                            <div class="col-sm-6">
                                                {% comment %} <input name='text_simple' class="form-control" type="text" value="" id="example-text-input"> {% endcomment %}
                                            {{form.logo}}
                                            </div>
                                            
                                        </div>

                                        <div class="mb-3 row">
                                            <label for="example-text-input" class="col-sm-2 col-form-label text-end">توضیحات لوگو</label>
                                            <div class="col-sm-6">
                                                {% comment %} <input name='text_simple' class="form-control" type="text" value="" id="example-text-input"> {% endcomment %}
                                            {{form.alt}}
                                            </div>
                                            
                                        </div>

                                        <div class="mb-3 row">
                                            <label for="example-text-input" class="col-sm-2 col-form-label text-end">favicon</label>
                                            <div class="col-sm-6">
                                                {% comment %} <input name='text' class="form-control" type="text" value="" id="example-text-input"> {% endcomment %}
                                            {{form.favicon}}
                                                {% comment %} {{form.text_dir}} {% endcomment %}
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="example-text-input" class="col-sm-2 col-form-label text-end">توضیحات ایکون</label>
                                            <div class="col-sm-6">
                                                {% comment %} <input name='text' class="form-control" type="text" value="" id="example-text-input"> {% endcomment %}
                                            {{form.alt2}}
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="example-text-input" class="col-sm-2 col-form-label text-end">متن</label>
                                            <div class="col-sm-6">
                                                {% comment %} <input name='text' class="form-control" type="text" value="" id="example-text-input"> {% endcomment %}
                                            {{form.text}}
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="example-text-input" class="col-sm-2 col-form-label text-end">متن سربرگ محصولات</label>
                                            <div class="col-sm-6">
                                                {% comment %} <input name='text' class="form-control" type="text" value="" id="example-text-input"> {% endcomment %}
                                            {{form.text_products_view}}
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="example-text-input" class="col-sm-2 col-form-label text-end">لینک سریرگ محصولات</label>
                                            <div class="col-sm-6">
                                                {% comment %} <input name='name_button' class="form-control" type="text" value="" id="example-text-input"> {% endcomment %}
                                            {{form.link_products_view}}
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="example-text-input" class="col-sm-2 col-form-label text-end">متن فوتر</label>
                                            <div class="col-sm-6">
                                                {% comment %} <input name='link' class="form-control" type="text" value="" id="example-text-input"> {% endcomment %}
                                            {{form.footer_text}}
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="example-text-input" class="col-sm-2 col-form-label text-end">تلفن </label>
                                            <div class="col-sm-6">
                                                {% comment %} <input name='text' class="form-control" type="text" value="" id="example-text-input"> {% endcomment %}
                                        {{form.telephon}}
                                            </div>
                                            
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="example-text-input" class="col-sm-2 col-form-label text-end">email</label>
                                            <div class="col-sm-6">
                                                {% comment %} <input name='url_title' class="form-control" type="text" value="" id="example-text-input"> {% endcomment %}
                                            {{form.email}}
                                            </div>
                                            
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="example-text-input" class="col-sm-2 col-form-label text-end">آدرس</label>
                                            <div class="col-sm-6">
                                                {% comment %} <input name='url_title' class="form-control" type="text" value="" id="example-text-input"> {% endcomment %}
                                            {{form.address}}
                                            </div>
                                            
                                        </div>

                                        <div class="mb-3 row">
                                            <label for="example-text-input" class="col-sm-2 col-form-label text-end">فعال است؟</label>
                                            <div class="col-sm-6">
                                                {% comment %} <input name='url_title' class="form-control" type="text" value="" id="example-text-input"> {% endcomment %}
                                            {{form.active}}
                                            </div>
                                            
                                        </div>

                                        <div class="mb-3 row">
                                            {% comment %} <label for="tbligh" class="col-sm-2 col-form-label text-end">لینک</label> {% endcomment %}
                                            

                                            
                                                <div class='col-sm-3'>
                                                    <button type='submit' class='btn btn-success'>ویرایش</button>                                                  
                                                </div>

                                            
                                        </div>
                                    </div>    
                                </form>                   
                            </div><!--end card-body-->




                        </div><!--end card-->

                </div><!--end row-->

            </div><!-- container -->
           <!--Start Footer-->
           <!-- Footer Start -->
           <footer class="footer text-center text-sm-start">
               &copy; <script>
                   document.write(new Date().getFullYear())
               </script> یونیکت <span class="text-muted d-none d-sm-inline-block float-end">ساخته شده با <i
                       class="mdi mdi-heart text-danger"></i> دیجی روت</span>
           </footer>
           <!-- end Footer -->                
           <!--end footer-->
        </div>
        <!-- end page content -->
    </div>
    <!-- end page-wrapper -->

{% endblock %}

 

<!-- Mirrored from digi-root.ir/Unikit_RTL/forms-elements.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 17 Sep 2022 08:48:47 GMT -->
</html>