{% load product_tags %}
<div class="item">
    <div class="product type-product">
        <div class="product-wrapper">
            <div class="product-image">
                <a href="{% url 'product:detailview' product.id %}" class="woocommerce-LoopProduct-link"><img src="{{product.image.url}}" alt="{{product.alt}}" /></a>
                <div class="wishlist-view">
                    <div class="quickview-button">
                        <a class="quickview-btn" href="#quick-view" data-id="{{product.id}}" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="نگاه سریع" aria-label="Quick View">نگاه سریع</a>
                    </div>
                    <div class="wishlist-button">
                    <a target="_blank" class="add_to_wishlist"   {% if request.user %}   href="{% url 'home:wishlist-add' user=request.user product_id=product.id color=product.orgin_color size=product.orgin_size %}"  {% endif %} data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به علاقه مندی" aria-label="Add to Wishlist">
                            افزودن به علاقه مندی
                        </a>
                    </div>
                </div>
                <div class="product-variations">
                    <span class="active"><a style="background-color: {{product.orgin_color}};"></a></span>
                    {% for color in product.color_set.all %}
                    <span><a style="background-color: {{color.color}};"></a></span>
                    {% endfor %}
                </div>
            </div>
            <div class="product-info">
                <div class="product-cats"><a href="#">{{product.category.name}}</a></div>
                <h3 class="product-title"><a href="{% url 'product:detailview' product.id %}">{{product.name}}</a></h3>
                {% if product.product_count %}
                {% if product.discount %}
                <div class="product-price">
                    <div class="price">
                        <ins>{{product.main_discount_call}} تومان</ins>
                        <del>{{product.price}} تومان</del>
                    </div>
                    <div class="on-sale"><span>{{product.discount}}</span><span>% تخفیف</span></div>
                </div>
                {% else %}
                <div class="product-price">
                    <div class="price">
                        <p>{{product.price}} تومان</p>
                    </div>
                </div>
                {% endif %}
                {% else %}
                <div class="product-price">
                    <div class="price">
                        <p>ناموجود</p>
                    </div>
                </div>
                {% endif %}
                <div class="shipping-cost"><span>+هزینه ارسال: </span> <span>رایگان</span></div>
                <div class="shipping-feed-back">
                    <div class="star-rating">
                        <div class="rating-wrap">
                            <a href="#"><i class="fas fa-star"></i><span> {{product.id|average_star}}</span></a>
                        </div>
                        <div class="rating-counts-wrap">
                            <a href="#">({{product.comment_set.count}})</a>
                        </div>
                    </div>
                    <div class="sold-items"><span>{{product.id|sell_count}}</span> <span>فروش</span></div>
                </div>
                <div class="hover-area">
                    <div class="wishlist-button">
                        <a class="add_to_wishlist" {% if request.user %} href="{% url 'home:wishlist-add' user=request.user product_id=product.id color=product.orgin_color size=product.orgin_size %}" {% endif %}>افزودن به علاقه مندی</a>
                    </div>
                    <div class="compare-button">
                        <a class="compare button" href="{% url 'home:compare_2' product.id %}">مقایسه</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>