{% load static %}
{% load render_partial %}
<!DOCTYPE html>
<html lang="fa">
    
<head>
    <!-- Meta Tag -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="BigBazar - Multipurpose Ecommerce HTML Template" />

    <meta name="author" content="root" />
    <title>BigBazar</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" />

    <!--  CSS Style -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/webfonts/flaticon/flaticon.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/layerslider.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/template.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/category/minimal.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/category/man-fashion.css' %}" />
</head>

<body dir="rtl">
    <div id="page_wrapper" class="bg-white">

        {% render_partial 'home:header' %}

        {% block body %}{% endblock body %}

        {% render_partial 'home:footer' %}

        <!--==================== Copyright Section Start ====================-->
        <div class="full-row copyright bg-gray py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <span class="sm-mb-10 d-block">© 2021 BigBazar کلیه حقوق محفوظ است</span>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-ml-30 d-flex align-items-center justify-content-md-end">
                            <li>
                                <a href="#"><img src="{% static 'assets/images/cards/1.png' %}" alt="" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="{% static 'assets/images/cards/2.png' %}" alt="" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="{% static 'assets/images/cards/3.png' %}" alt="" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="{% static 'assets/images/cards/4.png' %}" alt="" /></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--==================== Copyright Section End ====================-->

        <!-- Scroll to top -->
        <a href="#" class="bg-primary text-dark" id="scroll"><i class="fa fa-angle-up"></i></a>
        <!-- End Scroll To top -->


    </div>

    <!-- Include Scripts -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/greensock.js' %}"></script>
    <script src="{% static 'assets/js/layerslider.transitions.js' %}"></script>
    <script src="{% static 'assets/js/layerslider.kreaturamedia.jquery.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/wow.js' %}"></script>
    <script src="{% static 'assets/js/jquery.countdown.js' %}"></script>
    <script src="{% static 'assets/js/jquery.elevatezoom.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% block js %}{% endblock js %}

    <!-- Initializing the slider -->
    <script>
        $(document).ready(function () {
            $("#slider").layerSlider({
                sliderVersion: "6.0.0",
                type: "fullwidth",
                responsiveUnder: 1200,
                hideUnder: 0,
                hideOver: 100000,
                skin: "v6",
                navPrevNext: false,
                navStartStop: false,
                skinsPath: "{% static 'assets/skins/' %}",
                height: 550,
            });
        });
    </script>
    <script>
        {% for message in messages %}
            {% if message.level == 40 %}
            Swal.fire({
                icon: 'error',
                title: '{{message}}',
            })
            {% else %}
            Swal.fire({
                icon: 'success',
                title: '{{message}}',
            })
            {% endif %}
        {% endfor %}
    </script>
</body>


</html>
