{% load static %}
{% load render_partial %}
<!DOCTYPE html>
<html lang="fa">
    
<head>
    <!-- Meta Tag -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="BigBazar - Multipurpose Ecommerce HTML Template" />

    <meta name="author" content="root" />
    <title>BigBazar</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" />

    <!--  CSS Style -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/webfonts/flaticon/flaticon.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/layerslider.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/template.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/category/man-fashion.css' %}" />
</head>

<body dir="rtl">
    <div id="page_wrapper" class="bg-white">

        {% render_partial 'home:header' %}

        {% block body %}{% endblock body %}

        {% render_partial 'home:footer' %}

        <!--==================== Copyright Section Start ====================-->
        <div class="full-row copyright bg-gray py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <span class="sm-mb-10 d-block">© 2021 BigBazar کلیه حقوق محفوظ است</span>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-ml-30 d-flex align-items-center justify-content-md-end">
                            <li>
                                <a href="#"><img src="{% static 'assets/images/cards/1.png' %}" alt="" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="{% static 'assets/images/cards/2.png' %}" alt="" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="{% static 'assets/images/cards/3.png' %}" alt="" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="{% static 'assets/images/cards/4.png' %}" alt="" /></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--==================== Copyright Section End ====================-->

        <!-- Scroll to top -->
        <a href="#" class="bg-primary text-dark" id="scroll"><i class="fa fa-angle-up"></i></a>
        <!-- End Scroll To top -->

        <!--============== Modal Start ==============-->
        <div class="overlay-dark modal fade quick-view-modal" id="quick-view">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="close view-close">
                        <span class="flaticon-cancel"></span>
                    </div>
                    <div class="modal-body property-block summary p-3">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="e-hover-image-zoom e-image-bg-light">
                                    <div class="product type-product">
                                        <div class="product-wrapper">
                                            <div class="product-image">
                                                <a href="#" class="woocommerce-LoopProduct-link"><img src="{% static 'assets/images/products/squire-2.png' %}" alt="Product Image" /></a>
                                                <ul class="position-absolute quick-meta">
                                                    <li>
                                                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Transfer" aria-label="Transfer"><i class="flaticon-transfer flat-mini"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Wishlist" aria-label="Wishlist"><i class="flaticon-like flat-mini"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Share" aria-label="Share"><i class="flaticon-share flat-mini"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Print" aria-label="Print"><i class="flaticon-printer flat-mini"></i></a>
                                                    </li>
                                                </ul>
                                                <div class="product-labels">
                                                    <div class="shape1-badge3"><span>جدید</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="e-hover-image-zoom e-image-bg-light">
                                    <div class="product type-product">
                                        <div class="product-wrapper">
                                            <div class="product-info">
                                                <div class="product-cats"><a href="#">پوشاک و لوازم جانبی</a></div>
                                                <h3 class="product-title"><a href="#">دستکش زنانه چرم آفتاب مدل DM 407</a></h3>
                                                <div class="product-price">
                                                    <div class="price">
                                                        <ins>150000 تومان - 25000 تومان</ins>
                                                    </div>
                                                    <span class="text-white font-mini px-2 rounded product-status me-5 my-1 bg-primary"><i class="fas fa-check"></i> موجود</span>
                                                </div>
                                                <div class="shipping-cost"><span>+هزینه ارسال: </span> <span>15000 تومان</span></div>
                                                <div class="shipping-feed-back">
                                                    <div class="star-rating">
                                                        <div class="rating-wrap">
                                                            <a href="#"><i class="fas fa-star"></i><span> 4.9</span></a>
                                                        </div>
                                                        <div class="rating-counts-wrap">
                                                            <a href="#">(543)</a>
                                                        </div>
                                                    </div>
                                                    <div class="sold-items"><span>142</span> <span> فروش</span></div>
                                                </div>
                                                <div class="product-offers mt-3">
                                                    <ul class="product-offers-list">
                                                        <li class="product-offer-item"><strong>قیمت فروشنده </strong>19% تخفیف دریافت کنید (قیمت با احتساب تخفیف)</li>
                                                        <li class="product-offer-item"><strong>موجود در انبار </strong> 10% تخفیف فوری بر روی VISA Cards</li>
                                                        <li class="product-offer-item"><strong>این کالا را ارزان بخرید</strong> از 116000 تومان توسط فروشندگان دیگر</li>
                                                    </ul>
                                                </div>
                                                <h5 class="text-secondary my-3">توضیحات</h5>
                                                <p>
                                                    کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو
                                                    در زبان فارسی ایجاد کرد.
                                                </p>
                                                <div class="short-description d-flex">
                                                    <span class="ms-4"><b>ویژگی کالا</b></span>
                                                    <div class="short-description">
                                                        <ul class="list-style-tick">
                                                            <li>فرم دستکش: دستکش کوتاه تا مچ</li>
                                                            <li>نوع دستکش: روزمره، مناسب برای سرما، مناسب برای مهمانی</li>
                                                            <li>کشور تولید کننده: ایران</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="hover-area">
                                                    <div class="quickview-button">
                                                        <a class="quickview-btn" href="#quick-view" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="نگاه سریع" aria-label="Quick View">نگاه سریع</a>
                                                    </div>
                                                    <div class="cart-button">
                                                        <a href="#" class="add_to_cart_button" data-bs-toggle="tooltip" data-bs-placement="right" title="" data-bs-original-title="افزودن به سبد خرید" aria-label="Add to Cart">
                                                            افزودن به سبد خرید
                                                        </a>
                                                    </div>
                                                    <div class="wishlist-button">
                                                        <a class="add_to_wishlist" href="#" data-bs-toggle="tooltip" data-bs-placement="right" title="" data-bs-original-title="افزودن به علاقه مندی" aria-label="Add to Wishlist">
                                                            افزودن به علاقه مندی
                                                        </a>
                                                    </div>
                                                    <div class="compare-button">
                                                        <a class="compare button" href="#" data-bs-toggle="tooltip" data-bs-placement="right" title="" data-bs-original-title="مقایسه" aria-label="Compare">مقایسه</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Modal End ==============-->
    </div>

    <!-- Include Scripts -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/greensock.js' %}"></script>
    <script src="{% static 'assets/js/layerslider.transitions.js' %}"></script>
    <script src="{% static 'assets/js/layerslider.kreaturamedia.jquery.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/wow.js' %}"></script>
    <script src="{% static 'assets/js/jquery.countdown.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    {% block js %}{% endblock js %}

    <!-- Initializing the slider -->
    <script>
        $(document).ready(function () {
            $("#slider").layerSlider({
                sliderVersion: "6.0.0",
                type: "fullwidth",
                responsiveUnder: 1200,
                hideUnder: 0,
                hideOver: 100000,
                skin: "v6",
                navPrevNext: false,
                navStartStop: false,
                skinsPath: "{% static 'assets/skins/' %}",
                height: 550,
            });
        });
    </script>
</body>


</html>
