{% extends 'base.html' %}
{% load static %}
{% load cart_tags %}
{% block body %}
<!-- breadcrumb -->
<div class="full-row bg-light py-5">
    <div class="container">
        <div class="row text-secondary">
            <div class="col-sm-6">
                <h3 class="mb-2 text-secondary font-large">سبد خرید</h3>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="d-flex justify-content-sm-end align-items-center h-100">
                    <ol class="breadcrumb mb-0 d-inline-flex bg-transparent p-0">
                        <li class="breadcrumb-item"><a href="index.html"><i class="fas fa-home ms-1"></i>خانه</a></li>
                        <li class="breadcrumb-item active aria-current=page">سبد خرید</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb -->

<!--==================== Cart Section Start ====================-->
<div class="full-row">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-12 col-md-12 col-12">
                <table class="shop_table cart">
                    <tr>
                        <th class="product-thumbnail">&nbsp;</th>
                        <th class="product-name">نام کالا</th>
                        <th class="product-price">رنگ</th>
                        <th class="product-price">سایز</th>
                        <th class="product-price">قیمت</th>
                        <th class="product-quantity">تعداد</th>
                        <th class="product-subtotal">مبلغ</th>
                        <th class="product-remove">&nbsp;</th>
                    </tr>
                    {% for det in details %}
                        <form class="woocommerce-cart-form" action="{% url 'cart:update_In_open_order' %}" method="post">
                            {% csrf_token %}
                            <input type='hidden' name="product_id" value="{% show details det 'id' %}">
                            <input type='hidden' name="color" value="{% show details det 'color' %}">
                            <input type='hidden' name="size" value="{% show details det 'size' %}">
                            <tr class="woocommerce-cart-form__cart-item cart_item">
                                <td class="product-thumbnail">
                                    <a href="/detail/{% show details det 'id' %}/"><img src="{% show_image details det %}" alt="Product image"></a>
                                </td>
                                <td class="product-name">
                                    <a>{% show_name details det %}</a>
                                </td>
                                <td class="product-price" style="background-color:{% show details det 'color' %}">
                                    <span><bdi><span></span></bdi>
                                    </span>
                                </td>
                                <td class="product-price">
                                    <span><bdi>{% show details det 'size' %}<span></span></bdi>
                                    </span>
                                </td>
                                <td class="product-price">
                                    <span><bdi>{% show_price details det %}<span> تومان</span></bdi>
                                    </span>
                                </td>
                                <td class="product-quantity">
                                    <div class="quantity">
                                        <input type="number" name="count" value="{% show details det 'count' %}">
                                    </div>
                                </td>
                                <td class="product-subtotal">
                                    <span><bdi>{% show_price details det 'True' %}<span> تومان</span></bdi>
                                    </span>
                                </td>
                                <td colspan="6" class="actions">
                                    <button type="submit" class="button update_cart" name="update_cart" value="Update cart">بروزرسانی</button>
                                </td>
                                <td class="product-remove">
                                    <a href="/removecookie/{{det}}" class="remove">×</a>
                                </td>
                            </tr>
                        </form>
                    {% endfor %}
                </table>
            </div>
            <div class="col-xl-3 col-lg-12 col-md-12 col-12">
                <div class="cart-collaterals">
                    <div class="cart_totals ">
                        <h2>جمع سبد خرید</h2>
                        <table>
                            <tr>
                                <th>قیمت کالاها</th>
                                <td>
                                    <span><bdi>{% total_price details %}<span> تومان</span></bdi>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th>نحوه ارسال</th>
                                <td>
                                    <ul>
                                        <li>
                                            <input type="radio" name="shipping_method" class="shipping_method" id="shipping_method_0_free_shipping1" checked="checked">
                                            <label for="shipping_method_0_free_shipping1">ارسال رایگان</label>
                                        </li>
                                        <li>
                                            <input type="radio" name="shipping_method" class="shipping_method" id="shipping_method_0_flat_rate2">
                                            <label for="shipping_method_0_flat_rate2">ارسال سریع</label>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr class="order-total">
                                <th>جمع نهایی</th>
                                <td><strong><span class="woocommerce-Price-amount amount"><bdi>{% total_price details %}<span> تومان</span></bdi></span></strong> </td>
                            </tr>
                        </table>
                        <div class="wc-proceed-to-checkout">
                            <a href="#" class="checkout-button">ادامـه خرید</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--==================== Cart Section End ====================-->
{% include 'layout/newsletter.html' %}
{% endblock %}