{% load static %}
<header class="ecommerce-header">
    <div class="middle-header d-none d-lg-block py-3 bg-secondary">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-2 col-md-3 sm-mx-none">
                    <a class="navbar-brand d-flex align-items-center h-100" href="/"><img class="nav-logo" src="{{SiteSetting.logo.url}}" alt="{{SiteSetting.alt}}" /></a>
                </div>
                <div class="col-lg-6 col-md-9">
                    <div class="product-search-one">
                        <form class="form-inline search-pill-shape" action="{% url 'product:SearchView' %}" method="get">
                            <input type="text" class="form-control search-field" name="search" placeholder="جستجوی کالا..." />
                            <div class="select-appearance-none">
                                <select name='category' class="form-control">
                                    <option value='all' selected>همه دسته بندی</option>
                                    {% for cat in categories %}
                                    <option value="{{cat.id}}">{{cat.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="submit" class="search-submit"><i class="flaticon-search flat-mini text-dark"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-md-3 xs-mx-none">
                    <div class="d-flex align-items-center justify-content-end h-100">
                        <div class="ml-30">
                            <a href="{% url 'contactus:contact-us' %}" class="d-flex align-items-center text-white text-decoration-none">
                                <i class="flaticon-online-chat flat-small ms-2"></i>
                                <div class="d-table">
                                    <div class="font-300 font-small">پشتیبانی آنلاین</div>
                                    <div class="font-400 text-primary ltr">{{SiteSetting.telephon}}</div>
                                </div>
                            </a>
                        </div>

                        <div class="sign-in-account">
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'account:logout' %}" class="d-flex align-items-center text-white text-decoration-none">
                            <i class="flaticon-user flat-small ms-2"></i>
                            <div class="d-table">
                                <div class="font-300 font-small">خروج از</div>
                                <div class="font-400 text-primary">حساب کاربری</div>
                            </div>
                    </a>
                        {% else %}    
                        <a href="{% url 'account:login' %}" class="d-flex align-items-center text-white text-decoration-none">
                                <i class="flaticon-user flat-small ms-2"></i>
                                <div class="d-table">
                                    <div class="font-300 font-small">ورود به</div>
                                    <div class="font-400 text-primary">حساب کاربری</div>
                                </div>
                        </a>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-nav d-none d-lg-block bg-extra1">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 col-xl-3">
                </div>
                <div class="col-lg-6 col-xl-7">
                    <nav class="navbar navbar-expand-lg nav-white nav-primary-hover">
                        <a class="navbar-brand d-lg-none" href="#"><img class="nav-logo" src="{% static 'assets/images/logo/1.png' %}" alt="Image not found !" /></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="flaticon-menu-2 flat-small text-primary"></i>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                {% for navbar in NavOne %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="{{navbar.link}}">{{navbar.name}}</a>
                                    {% if navbar.navtwo_set.all %}
                                    <ul class="dropdown-menu">
                                        {% for navbartwo in navbar.navtwo_set.all %}
                                        <li><a class="dropdown-item" href="{{navbartwo.link}}">{{navbartwo.name}}</a></li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-xl-2 col-lg-3">
                    <div class="margin-right-1 d-flex align-items-center justify-content-end h-100 align-items-center">
                        <div class="wishlist-view">
                            <a href="{% url 'home:wishlist' %}" class="position-relative top-quantity d-flex align-items-center text-white text-decoration-none">
                                <i class="flaticon-like flat-small text-white"></i>
                                <span class="header-wishlist-count">{{wishlist_count}}</span>
                            </a>
                        </div>
                        <div class="refresh-view">
                            <a href="{% url 'home:compare' %}" class="position-relative top-quantity d-flex align-items-center text-white text-decoration-none">
                                <i class="flaticon-shuffle flat-small text-white"></i>
                            </a>
                        </div>
                        <div class="header-cart-2">
                            <a href="{% url 'cart:user_open_order' %}" class="cart" title="View Cart">
                                <div class="cart-icon"><i class="flaticon-shopping-cart flat-small"></i> 
                                    <span class="header-cart-count">{{count}}</span>
                                </div>
                                <div class="cart-wrap">
                                    <span class="header-cart-count">تعداد ({{count}})</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-sticky bg-white py-10">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xxl-2 col-xl-2 col-lg-3 col-6 order-lg-1">
                    <div class="d-flex align-items-center h-100 md-py-10">
                        <div class="nav-leftpush-overlay">
                            <nav class="navbar navbar-expand-lg nav-general nav-primary-hover">
                                <button type="button" class="push-nav-toggle d-lg-none border-0">
                                    <i class="flaticon-menu-2 flat-small text-primary"></i>
                                </button>

                                <div class="navbar-slide-push transation-this">
                                    <div class="login-signup bg-secondary d-flex justify-content-between py-10 px-20 align-items-center">
                                        <a href="{% url 'account:login' %}" class="d-flex align-items-center text-white">
                                            <i class="flaticon-user flat-small ms-1"></i>
                                            <span>ورود / ثبت نام</span>
                                        </a>
                                        <span class="slide-nav-close"><i class="flaticon-cancel flat-mini text-white"></i></span>
                                    </div>
                                    <div class="menu-and-category">
                                        <ul class="nav nav-pills wc-tabs" id="menu-and-category" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link active" id="pills-push-menu-tab" data-bs-toggle="pill" href="#pills-push-menu" role="tab" aria-controls="pills-push-menu" aria-selected="true">منو</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" id="menu-and-categoryContent">
                                            <div class="tab-pane fade show active woocommerce-Tabs-panel woocommerce-Tabs-panel--description" id="pills-push-menu" role="tabpanel" aria-labelledby="pills-push-menu-tab">
                                                <div class="push-navbar">
                                                    <ul class="navbar-nav">
                                                        {% for navbar in NavOne %}
                                                        <li class="nav-item dropdown">
                                                            <a class="nav-link {% if navbar.navtwo_set.all %} dropdown-toggle {% endif %}" href="{{navbar.link}}">{{navbar.name}}</a>
                                                            {% if navbar.navtwo_set.all %}
                                                            <ul class="dropdown-menu">
                                                                {% for navbartwo in navbar.navtwo_set.all %}
                                                                <li><a class="dropdown-item" href="{{navbartwo.link}}">{{navbartwo.name}}</a></li>
                                                                {% endfor %}
                                                            </ul>
                                                            {% endif %}
                                                        </li>
                                                        {% endfor %}
                                                    </ul>
                                                    <a href="{% url 'product:listview' %}" class="p-20 d-block bg-secondary text-primary text-uppercase font-600 hover-text-primary">فروشگاه ما</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </div>
                        <a class="navbar-brand" href=""><img class="nav-logo" src="{{SiteSetting.logo.url}}" alt="Image not found !" /></a>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-4 col-lg-3 col-6 order-lg-3">
                    <div class="margin-right-1 d-flex align-items-center justify-content-end h-100 align-items-center">
                        <div class="wishlist-view">
                            <a href="{% url 'home:wishlist' %}" class="position-relative top-quantity d-flex align-items-center text-decoration-none">
                                <i class="flaticon-like flat-small"></i>
                                <span class="header-wishlist-count">{{wishlist_count}}</span>
                            </a>
                        </div>
                        <div class="refresh-view">
                            <a href="{% url 'home:compare' %}" class="position-relative top-quantity d-flex align-items-center text-decoration-none">
                                <i class="flaticon-shuffle flat-small"></i>
                            </a>
                        </div>
                        <div class="header-cart-2">
                            <a href="cart.html" class="cart has-cart-data" title="View Cart">
                                <div class="cart-icon"><i class="flaticon-shopping-cart flat-small"></i> <span class="header-cart-count">{{count}}</span></div>
                                <div class="cart-wrap">
                                    <span class="header-cart-count">تعداد ({{count}})</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-7 col-xl-6 col-lg-6 col-12 order-lg-2">
                    <div class="product-search-one">
                        <form class="form-inline search-pill-shape"  action="{% url 'product:SearchView' %}" method="get">
                            <input type="text" class="form-control search-field" name="search" placeholder="جستجو کالا..." />
                            <div class="select-appearance-none">
                                <select name='category' class="form-control">
                                    <option value='all' selected>همه دسته بندی</option>
                                    {% for cat in categories %}
                                    <option value="{{cat.id}}">{{cat.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="submit" name="submit" class="search-submit"><i class="flaticon-search flat-mini text-white"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
