{% extends 'base.html' %}

{% load static %}

{% block body %}

<!-- breadcrumb -->
<div class="full-row py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h3 class="mb-2 font-large">نمای تمام صفحه</h3>
            </div>
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 d-inline-flex bg-transparent p-0">
                        <li class="breadcrumb-item"><a href="{% url 'home:home' %}">خانه</a></li>
                        <li class="breadcrumb-item"><a href="#">فروشگاه</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb -->

<div class="full-row pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                
                <div class="products-header d-flex justify-content-between align-items-center py-10 px-20 bg-light md-mt-30">
                    <div class="products-header-left d-flex align-items-center">
                        <h6 class="woocommerce-products-header__title page-title">همه دسته بندی</h6>
                        <div class="woocommerce-result-count"> ( نمایش {{posts.object_list.count}} محصول از {{count}} )</div>
                    </div>
                    <div class="products-header-right">
                        <div class="product-show">
                            <span class="h6 font-700 text-secondary mb-0">نمایش:</span>
                        </div>
                        <form id='pagination-number'>
                            <select name='show-number' id='sort-select' class="show-number">
                                <option value=2 >2</option>
                                <option value=3 >3</option>
                            </select> 
                            <select id='order-select' name="orderby" class="orderby" aria-label="Shop order">
                                <option value="">پیش فرض</option>
                               
                                <option value="price">ارزانترین</option>
                                <option value="-price">گرانترین</option>
                               
                            </select>
                        </form>
                        
                    </div>
                </div>
                <div class="showing-products pt-30 pb-50 border-2 border-bottom border-light">
                    <div class="row row-cols-xl-5 row-cols-md-3 row-cols-sm-2 row-cols-1 product-style-3 e-hover-image-zoom e-image-bg-light g-4">
                        {% for product in posts %}
                            {% include 'layout/product.html' %}
                        {% endfor %}
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center pt-3">
                    <div class="showing-result">تعداد محصول : {{count}}</div>
                    <div class="pagination-style-one">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    {% if posts.has_previous %}
                                    <a class="page-link" href="?page={{ posts.previous_page_number }}&show-number={{ number }}&orderby={{ op }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                    {% endif %}
                                </li>
                                
                                {% if posts.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}&show-number={{ number }}&orderby={{ op }}">{{ posts.previous_page_number }}</a></li>
                                {% endif %}

                                <li class="page-item active"><a class="page-link">{{posts.number}}</a></li>
                                
                                {% if posts.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}&show-number={{ number }}&orderby={{ op }}">{{ posts.next_page_number }}</a></li>
                                {% endif %}

                                {% if posts.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ posts.next_page_number }}&show-number={{ number }}&orderby={{ op }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'layout/newsletter.html' %}


<!--==================== Service Info Section Start ====================-->
<div class="full-row bg-white">
    <div class="container">
        <div class="row row-cols-xxl-5 row-cols-xl-3 row-cols-sm-2 row-cols-1 g-0 gy-4 gy-xxl-0">
            <div class="col">
                <div class="gray-right-line-one px-3 md-my-10 d-flex">
                    <i class="flaticon-smartphone-1 flat-medium text-secondary"></i>
                    <div class="mr-10">
                        <h5 class="mb-1"><a href="#" class="text-dark hover-text-primary transation-this">قیمت مناسب</a></h5>
                        <p>قیمت گذاری مناسب محصولات سایت</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="gray-right-line-one px-3 md-my-10 d-flex">
                    <i class="flaticon-airplane flat-medium text-secondary"></i>
                    <div class="mr-10">
                        <h5 class="mb-1"><a href="#" class="text-dark hover-text-primary transation-this">ارسال به تمام نقاط دنیا</a></h5>
                        <p>ارسال محصول به بیش از 200 کشور و استان</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="gray-right-line-one px-3 md-my-10 d-flex">
                    <i class="flaticon-life-insurance flat-medium text-secondary"></i>
                    <div class="mr-10">
                        <h5 class="mb-1"><a href="#" class="text-dark hover-text-primary transation-this">پرداخت امن</a></h5>
                        <p>بهترین تجربه پرداخت آنلاین هنگام خرید</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="gray-right-line-one px-3 md-my-10 d-flex">
                    <i class="flaticon-shopping-1 flat-medium text-secondary"></i>
                    <div class="mr-10">
                        <h5 class="mb-1"><a href="#" class="text-dark hover-text-primary transation-this">خرید مطمئن</a></h5>
                        <p>بهبود رابط کاربری و تجربه یک خرید آسان</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="gray-right-line-one px-3 md-my-10 d-flex">
                    <i class="flaticon-24-hours flat-medium text-secondary"></i>
                    <div class="mr-10">
                        <h5 class="mb-1"><a href="#" class="text-dark hover-text-primary transation-this">خدمات مشتری</a></h5>
                        <p>پشتیبانی آنلاین و تلفنی به صورت 24 ساعت </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--==================== Service Info Section End ====================-->
{% endblock body %}

{% block js %}
<script>
    $(document).ready(function(){
        $('#sort-select option[value="{{number}}"]').attr("selected", "selected");
        $('#sort-select').on('change',function(){
            $('#pagination-number').submit()
        })

        $('#order-select option[value="{{op}}"]').attr("selected", "selected");
        $('#order-select').on('change',function(){
            $('#pagination-number').submit()
        })
    });
</script>
{% endblock js %}