{% extends 'base.html' %}
{% load static %}

{% block body %}

<!-- breadcrumb -->
<div class="full-row py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h3 class="mb-2 font-large">تاریخچه خرید شما</h3>
            </div>
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 d-inline-flex bg-transparent p-0">
                        <li class="breadcrumb-item"><a href="/">خانه</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'cart:user_open_order' %}">سبدخرید</a></li>
                        <li class="breadcrumb-item active" aria-current="page">سبد خریدهای بسته شده</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb -->

<div class="full-row pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="showing-products pt-30 pb-50 border-2 border-bottom border-light">
                    <div class="row row-cols-xl-5 row-cols-md-3 row-cols-sm-2 row-cols-1 product-style-3 e-hover-image-zoom e-image-bg-light g-4">
                        {% for cart in carts %}
                        <div class="col">
                            <div class="product type-product">
                                <div class="product-wrapper">
                                    <div class="product-image">
                                        <a href="{% url 'cart:open_old_orderdetail' cart.id %}" class="woocommerce-LoopProduct-link"><img src="{% static 'assets/img/cart2.jpg' %}" alt="Product Image"></a>
                                    </div>
                                    <div class="product-info">
                                        <h3 class="product-title"><a href="#">به نام :{{cart.full_name}}</a></h3>
                                        <div class="product-price">
                                            <div class="price">
                                                {{cart.payment_date.year}}-{{cart.payment_date.month}}-{{cart.payment_date.day}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'layout/newsletter.html' %}

{% endblock body %}
