{% extends 'base.html' %}

{% load static %}

{% block body %}

<!-- breadcrumb -->
<div class="full-row py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h3 class="mb-2 font-large">نمای تمام صفحه</h3>
            </div>
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 d-inline-flex bg-transparent p-0">
                        <li class="breadcrumb-item"><a href="{% url 'home:home' %}">خانه</a></li>
                        <li class="breadcrumb-item"><a href="#">فروشگاه</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb -->

<div class="full-row pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                
                
                <div class="showing-products pt-30 pb-50 border-2 border-bottom border-light">
                    <div class="row row-cols-xl-5 row-cols-md-3 row-cols-sm-2 row-cols-1 product-style-3 e-hover-image-zoom e-image-bg-light g-4">
                        {% for product in posts %}
                            {% include 'layout/product.html' %}
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--==================== Newslatter Section Start ====================-->
<div class="full-row bg-secondary py-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="d-flex align-items-center h-100">
                    <h4 class="text-primary mb-0">عضویت در خبرنامه</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="d-flex align-items-center h-100">
                    <span class="text-white">اولین نفری باشید که از جدیدترین محصولات ما مطلع می شوید!</span>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <form action="{% url 'contactus:save-newsletter-email' %}" class="subscribe-form position-relative md-mt-20" method="post">
                    {% csrf_token %}
                    <input class="form-control rounded-pill mb-0 bg-white" name='email' type="email" placeholder="ایمیل خود را وارد کنید..." aria-label="Address">
                    <button class="btn btn-primary rounded-right-pill text-white" type="submit">ثبت نام</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--==================== Newslatter Section End ====================-->

<!--==================== Service Info Section Start ====================-->
<div class="full-row bg-white">
    <div class="container">
        <div class="row row-cols-xxl-5 row-cols-xl-3 row-cols-sm-2 row-cols-1 g-0 gy-4 gy-xxl-0">
            <div class="col">
                <div class="gray-right-line-one px-3 md-my-10 d-flex">
                    <i class="flaticon-smartphone-1 flat-medium text-secondary"></i>
                    <div class="mr-10">
                        <h5 class="mb-1"><a href="#" class="text-dark hover-text-primary transation-this">قیمت مناسب</a></h5>
                        <p>قیمت گذاری مناسب محصولات سایت</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="gray-right-line-one px-3 md-my-10 d-flex">
                    <i class="flaticon-airplane flat-medium text-secondary"></i>
                    <div class="mr-10">
                        <h5 class="mb-1"><a href="#" class="text-dark hover-text-primary transation-this">ارسال به تمام نقاط دنیا</a></h5>
                        <p>ارسال محصول به بیش از 200 کشور و استان</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="gray-right-line-one px-3 md-my-10 d-flex">
                    <i class="flaticon-life-insurance flat-medium text-secondary"></i>
                    <div class="mr-10">
                        <h5 class="mb-1"><a href="#" class="text-dark hover-text-primary transation-this">پرداخت امن</a></h5>
                        <p>بهترین تجربه پرداخت آنلاین هنگام خرید</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="gray-right-line-one px-3 md-my-10 d-flex">
                    <i class="flaticon-shopping-1 flat-medium text-secondary"></i>
                    <div class="mr-10">
                        <h5 class="mb-1"><a href="#" class="text-dark hover-text-primary transation-this">خرید مطمئن</a></h5>
                        <p>بهبود رابط کاربری و تجربه یک خرید آسان</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="gray-right-line-one px-3 md-my-10 d-flex">
                    <i class="flaticon-24-hours flat-medium text-secondary"></i>
                    <div class="mr-10">
                        <h5 class="mb-1"><a href="#" class="text-dark hover-text-primary transation-this">خدمات مشتری</a></h5>
                        <p>پشتیبانی آنلاین و تلفنی به صورت 24 ساعت </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--==================== Service Info Section End ====================-->
{% endblock body %}
