{% extends 'base.html' %}
{% load wishlist_tag %}

{% block body %}
<!-- breadcrumb -->
<div class="full-row bg-light py-5">
    <div class="container">
        <div class="row text-secondary">
            <div class="col-sm-6">
                <h3 class="mb-2 text-secondary font-large">لیست موردعلاقه</h3>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="d-flex justify-content-sm-end align-items-center h-100">
                    <ol class="breadcrumb mb-0 d-inline-flex bg-transparent p-0">
                        <li class="breadcrumb-item"><a href="/"><i class="fas fa-home ms-1"></i>خانه</a></li>
                        <li class="breadcrumb-item active" aria-current="page">لیست موردعلاقه</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb -->

<!--==================== Wishlist Section Start ====================-->
<div class="full-row">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#" id="yith-wcwl-form" class="table-responsive-lg">
                    <table class="shop_table cart wishlist_table wishlist_view traditional table" data-pagination="no" data-per-page="5" data-page="1" data-id="3989" data-token="G5CZRAZPRKEY">
                        <thead>
                            <tr>
                                <th class="product-remove"> <span class="nobr"> </span></th>
                                <th class="product-thumbnail"></th>
                                <th class="product-name"> <span class="nobr"> نام کالا </span></th>
                                <th class="product-price"> <span class="nobr"> قیمت </span></th>
                                <th class="product-price"> <span class="nobr"> رنگ </span></th>
                                <th class="product-price"> <span class="nobr"> سایز </span></th>
                                <th class="product-stock-status"> <span class="nobr"> وضعیت موجود </span></th>
                                <th class="product-add-to-cart"> <span class="nobr"> </span></th>
                            </tr>
                        </thead>
                        <tbody class="wishlist-items-wrapper">
                            {% for wish in wishlist %}
                            <tr id="yith-wcwl-row-103" data-row-id="{{wish.product.id}}">
                                <td class="product-remove">
                                    <div>
                                        <a href="{% url 'home:wishlist_delete_item' id=wish.id %}" class="remove remove_from_wishlist" title="Remove this product">×</a>
                                    </div>
                                </td>
                                <td class="product-thumbnail">
                                    <a href="{% url 'product:detailview' wish.product.id %}"> <img src="{{wish.product.image.url}}" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="{{product.alt}}"> </a>
                                </td>
                                <td class="product-name"> <a href="{% url 'product:detailview' wish.product.id %}">{{wish.product.name}}</a></td>
                                <td class="product-price">
                                    {% if wish.product.discount %}
                                    <del><span class="woocommerce-Price-amount amount"><bdi>{% show_price id=wish.product.id size=wish.size color=wish.color %} <span class="woocommerce-Price-currencySymbol">تومان</span></bdi></span></del>
                                    <ins><span class="woocommerce-Price-amount amount"><bdi>{% show_price id=wish.product.id size=wish.size color=wish.color discount='True' %}<span class="woocommerce-Price-currencySymbol">تومان</span></bdi></span></ins>
                                    {% else %}
                                    {% show_price id=wish.product.id size=wish.size color=wish.color %} <span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">تومان</span></bdi>
                                    {% endif %}
                                </td>
                                <td class="product-name"> {{wish.color}}</td>
                                <td class="product-name"> {{wish.size}}</td>
                            </span>
                                </td>
                                <td class="product-stock-status"> <span class="wishlist-in-stock">{% if wish.product.product_count %}موجود در انبار{% else %}ناموجود{% endif %}</span></td>
                                <td class="product-add-to-cart">
                                    <!-- Date added -->
                                    <!-- Add to cart button --><a href="#" data-quantity="1" class="button add_to_cart_button ajax_add_to_cart add_to_cart alt" data-product_id="103"
                                        data-product_sku="" aria-label="Add “Navy Blue-Silver-White Multifunction Analog Watch” to your cart" rel="nofollow">افزودن به سبد</a>
                                    <!-- Change wishlist -->
                                    <!-- Remove from wishlist -->
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
<!--==================== Wishlist Section End ====================-->

<!--==================== Newslatter Section Start ====================-->
<div class="full-row bg-secondary py-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="d-flex align-items-center h-100">
                    <h4 class="text-primary mb-0">عضویت در خبرنامه</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="d-flex align-items-center h-100">
                    <span class="text-white">اولین نفری باشید که از جدیدترین محصولات ما مطلع می شوید!</span>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <form action="{% url 'contactus:save-newsletter-email' %}" class="subscribe-form position-relative md-mt-20" method="post">
                    {% csrf_token %}
                    <input class="form-control rounded-pill mb-0 bg-white" name='email' type="email" placeholder="ایمیل خود را وارد کنید..." aria-label="Address">
                    <button class="btn btn-primary rounded-right-pill text-white" type="submit">ثبت نام</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--==================== Newslatter Section End ====================-->

{% endblock body %}
